<dany-drawer #drawer>
  <dany-cart #cart (onClose)="drawer.close()"></dany-cart>
</dany-drawer>
<dany-navi #navi
           (onCartClick)="(drawer.isOpen)? drawer.close() : drawer.open()"
           (onLoginClick)="modal.show()"
           (onSignUpClick)="signUp()"></dany-navi>

<!--modal-->
<div bsModal #modal="bs-modal" dany-login class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
</div>
<main [ngClass] = "{'m-t-main' : !isHome}">
  <router-outlet></router-outlet>

  <!--
  <dany-checkout></dany-checkout>-->
</main>
