<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="import" href="./product.html">
</head>
<body class="container">
<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <fc-product product-id="1" product-name="web note 1" product-prict="1000"></fc-product>
    </div>

    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <fc-product product-id="1" product-name="web note 2" product-prict="2000"></fc-product>
    </div>
</div>
</body>
</html>